<!doctype html>
{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }}  {% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/u_account_app/register.css' %}">
{% endblock %}


{% block content %}

    <h1>User Login</h1>
    <p><a href="{% url 'homepage:home' %}">Go to Dashboard</a></p>
    <p><a href="{% url 'user_account:userLogout' %}">Logout</a></p>
    <p><a href="{% url 'user_account:userReg' %}">Signup</a></p>
    <p><a href="{% url 'user_account:userLogin' %}">Login</a></p>


    <div class="container">
        <div class="row d-flex justify-content-center align-items-center height">
            <div class="col-md-8">
                <div class="card">
                    <div class="p-3 border-bottom d-flex align-items-center justify-content-center">
                        <h5>Login Form</h5>
                    </div>
                    <form method="POST">
                    {% csrf_token %}
                        <div class="p-3 px-4 py-4 border-bottom">
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <label>Email Address</label>
                                </div>
                                <div class="col">
                                    {{ login_form.email }}
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-3 d-flex align-items-center">
                                    <label>Password</label>
                                </div>
                                <div class="col">
                                    {{ login_form.password }}
                                </div>
                            </div>
                            <div class="d-flex flex-row-reverse mt-5">
                                <div class="button"> <button type="submit" class="btn btn-danger send fw-bold">Login</button> </div>
                            </div>
                            <div class="d-flex justify-content-start mt-3">
                                <div class="login_field_error text-danger">
                                    {% if login_form.non_field_errors %}
                                        {% for error in login_form.non_field_errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}