<!doctype html>
{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }}  {% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/home_app/index.css' %}">
{% endblock %}


{% block content %}

    <h1>Secret Page</h1>
    <p><a href="{% url 'homepage:home' %}">Go to Dashboard</a></p>
    <p><a href="{% url 'user_account:userLogout' %}">Logout</a></p>
    <p><a href="{% url 'user_account:userReg' %}">Signup</a></p>
    <p><a href="{% url 'user_account:userLogin' %}">Login</a></p>

{% endblock %}