<div class="container">
    <div class="row mt-5">
        <div class="col d-flex justify-content-center">
            <div class="card p-5">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-center fs-1">
                        Welcome!
                    </div>
                    <div class="card-title fs-2">
                        Angular 16 JWT Authentication
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>